@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Navbar Start */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #000000;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 110px;
}

/* Logo Kopi Start */
.kopi {
  margin: -55px 0px 0px 100px;
  color: white;
}

.senja {
  margin: -37px 0px 0px 170px;
  color: burlywood;
}

.logo {
  cursor: pointer;
  margin: -55px 0px 0px 5px;
}


header {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 5px 3%;
  height: 70px;
  width: auto;
}

/* Navbar End */

/* Under Image Text */
.under {
  text-align: center;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  opacity: 70%;
}

.menu {
  text-align: center;
  color: burlywood;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  opacity: 100%;
}

.phot {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;

}

.beans {
  color: burlywood;
  margin-top: 20px;
  margin-left: 115px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  opacity: 35%;
}

.drink {
  color: burlywood;
  margin-left: 430px;
  margin-top: -19px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  opacity: 35%;
}

.non {
  color: burlywood;
  margin-left: 785px;
  margin-top: -18px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  opacity: 35%;
}

.snack {
  color: burlywood;
  margin-left: 1085px;
  margin-top: -19px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  opacity: 35%;
}

.dsk {
  gap: 70px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 6px;
  padding-top: 5px;
}

.grade {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  opacity: 60%;
  left: 75px;
}

.dari {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  opacity: 60%;
  left: 390px;
}

.untuk {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  opacity: 60%;
  left: 705px;
}

.sampai {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  opacity: 60%;
  left: 1040px;
}

.sketsa {
  background-color: rgb(24, 23, 23);
  margin-top: 35px;
}

.cerita {
  font-family: "Montserrat", sans-serif;
  color: rgb(178, 148, 148);
  font-size: 30px;
  margin-left: 15%
}

.dimulai {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: initial;
  color: white;
  margin-left: 15%;
  margin-top: 45px;
  text-decoration: none;
  opacity: 50%;
}

.jakarta {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 5px;
  text-decoration: none;
  opacity: 50%;
}

.cabang {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 5px;
  text-decoration: none;
  opacity: 50%;
}

.tahun {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 25px;
  text-decoration: none;
  opacity: 50%;
}

.bangga {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 5px;
  text-decoration: none;
  opacity: 50%;
}

.yes {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 5px;
  text-decoration: none;
  opacity: 50%;
}

.kami {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 20px;
  text-decoration: none;
  opacity: 50%;
}

.award {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 5px;
  text-decoration: none;
  opacity: 50%;
}

.pemenang {
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 15%;
  margin-top: 5px;
  text-decoration: none;
  opacity: 50%;
}

.take {
  color: red;
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  opacity: 95%;
}

.bawa {
  color: burlywood;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  opacity: 75%;
}

.iconu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  opacity: 60%;
}

.cat {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 175px;
  opacity: 60%;
}

.cof {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 470px;
  opacity: 60%;
}

.mer {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 747px;
  opacity: 60%;
}

.ham {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 1072px;
  opacity: 60%;
}

.kamu {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 130px;
  margin-top: 35px;
  opacity: 60%;
}

.dalam {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 127px;
  margin-top: 5px;
  opacity: 60%;
}

.bisa {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 440px;
  margin-top: -35px;
  opacity: 60%;
}

.rumah {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 445px;
  margin-top: 5px;
  opacity: 60%;
}

.merchan {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 745px;
  margin-top: -35px;
  opacity: 60%;
}

.pecinta {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 735px;
  margin-top: 5px;
  opacity: 60%;
}

.kotak {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 1030px;
  margin-top: -35px;
  opacity: 60%;
}

.special {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 1015px;
  margin-top: 5px;
  opacity: 60%;
}

.mom {
  color: red;
  font-size: 15px;
  font-weight: initial;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  opacity: 95%;
  margin-top: 10px;
}

.gal {
  color: burlywood;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  opacity: 75%;
}

.mix {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 100px;
}

.medsos {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 150px;
}

.instagram {
  margin-left: 50px;
  margin-top: 5px;
}

.facebook {
  margin-top: 15px;
  margin-left: 50px;
}

.twitter {
  margin-top: 15px;
  margin-left: 80px;
}

.email {
  margin-top: 25px;
  margin-right: 20px;
}

.contact {
  background-color: rgb(24, 23, 23);
  font-size: 50px;
  text-align: center;
}

.ig {
  font-family: "Montserrat", sans-serif;
  font-weight: initial;
  font-size: 20px;
  margin-left: 108px;
  opacity: 60%;
}

.fb {
  font-family: "Montserrat", sans-serif;
  font-weight: initial;
  font-size: 20px;
  margin-left: 444px;
  margin-top: -25px;
  opacity: 60%;
}

.tw {
  font-family: "Montserrat", sans-serif;
  font-weight: initial;
  font-size: 20px;
  margin-left: 775px;
  margin-top: -23px;
  opacity: 60%;
}

.mail {
  font-family: "Montserrat", sans-serif;
  font-weight: initial;
  font-size: 20px;
  margin-left: 1040px;
  margin-top: -25px;
  opacity: 60%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

footer {
  background-color: rgb(24, 23, 23);
}

.footerContainer {
  width: 100%;
  margin-top: 50px;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: #000000;
  opacity: 0.9;
}

/* Social Icons Hover */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: rgb(24, 23, 23);
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  font-size: 12px;
  color: white;
}

.powered {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  margin: 0px 5px;
}

.mix>img {
  filter: grayscale(100);
}

.mix>img:hover {
  filter: grayscale(0);
  transition: all 0.3s ease 0s;
}

/* Color and Transition */
.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: burlywood;
}

button {
  padding: 9px 35px;
  background-color: maroon;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: burlywood;

}

* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1350px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(92, 75, 75, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 550px;
  width: 100%;
  text-align: center;
  opacity: 80%;
}

.bot {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 530px;
  left: 450px;
  opacity: 60%;
}

.makanan {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 530px;
  left: 400px;
  opacity: 60%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}